
/bin/
/obj/

/CodeAnalysisRepro/Binaries/Microsoft.CodeAnalysis.xml
/CodeAnalysisRepro/obj/Debug/*.dll
/CodeAnalysisRepro/obj/Debug/*.pdb
/CodeAnalysisRepro/obj/Debug/*.mdb
/CodeAnalysisRepro/obj/Debug/CodeAnalysis.csproj*

